/.repo
/afl
/arm-trusted-firmware
/build
/busybox
/docker
/edk2
/experiments
/gen_rootfs
/linux
/optee_benchmark
/optee_client
/optee_examples
/optee_os
/optee_test
/qemu
/soc_term
/strace
/syscase
/toolchains
/log-normal.sh
/log-secure.sh
